<% provide(:title, "All Users") %>
<h1>ユーザー一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4">
        <%= form_with url:import_users_path, method: :post, multipart: true do |f| %>
          <div class"csv-file-import">
            <input id="filename" size="36" readonly type="text" value="" ><button type="button" id="select_file_button">選択</button>
            <input id="file_button" type="file">
          </div>
          <%= f.submit "CSVをインポート", class: "btn btn-primary btn-block btn-csv-import" %>
        <% end %>
      </div>
    </div>
    
    <%= will_paginate %>
      <% @users.each do |user| %>
        <p><%= link_to user.name, user_path(user) %></p>
        <% unless current_user.id == user.id %>
          <div class="user-delete-area">
            <%= link_to "削除", user, method: :delete, class: "btn btn-primary",
              data: { confirm: "#{user.name}を削除してよろしいですか？" } %>
          </div>
        <% end %>
        <div class="user-edit-area">
          <%= link_to "編集", edit_basic_info_user_path(user), class: "btn btn-lg btn-primary" %>
        </div>
      <% end %>
    <%= will_paginate %>
  </div>
</div>

<script type="text/javascript">
$(document).on('click', '#select_file_button', function() { 
  $("#file_button").click();
 })
</script>
 
<script type="text/javascript">
$(document).on('change', '#file_button', function() { 
  $('#filename').val($(this).val().replace(/^.*\\/, ""));
 })
</script>