<% provide(:title, "All Users") %>
<h1>ユーザー一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4">
        <%= form_with url:import_users_path, method: :post, multipart: true do |f| %>
          <div class"csv-file-import">
            <%= f.text_field "filename",size: "26*30", id: "filename", disabled: true %>
            <%= f.file_field "file", id: "file_input", style: "display: none;", onchange: "file_selected($(this));" %>
            <%= button_tag 'ファイル選択', class: %i(btn-primary csv_input_btn), type: 'button', onclick: "$('#file_input').click();" %>
          </div>
          <%= f.submit "CSVをインポート", class: "btn btn-primary btn-block btn-csv-import" %>
        <% end %>
      </div>
    </div>
    
    <%= will_paginate %>
      <% @users.each do |user| %>
        <p><%= link_to user.name, user_path(user) %></p>
        <% unless current_user.id == user.id %>
          <div class="user-delete-area">
            <%= link_to "削除", user, method: :delete, class: "btn btn-primary",
              data: { confirm: "#{user.name}を削除してよろしいですか？" } %>
          </div>
        <% end %>
        <div class="user-edit-area">
          <%= link_to "編集", edit_basic_info_user_path(user), class: "btn btn-lg btn-primary" %>
        </div>
      <% end %>
    <%= will_paginate %>
  </div>
</div>

<script type="text/javascript">
  function file_selected(file_field){
    var filename = $(file_field)[0].files[0].name;
    $("#filename").val(filename);
  }
</script>